/* Your custom css code goes here */

@font-face {
    font-family: 'Lato' !important;
    src: url("../fonts/lato/Lato-Regular.ttf");
    src: url("../fonts/lato/Lato-Semibold.ttf") format("truetype"), url("../fonts/lato/Lato-Medium.ttf") format("truetype"),
    url("../fonts/lato/Lato-Italic.ttf") format("truetype");

    font-weight: normal;
    font-style: normal;
  }
}

html, html > body, body, p{
  font-family: 'Lato' !important;
}

.round {
  border-radius: 50px !important;
  width: fit-content;
}

.btn-center {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.btn-custom {
  background-color: #2500DD !important;
  border: #2500DD !important;
  margin-bottom: 50px !important;
}

.btn-custom:hover, .btn-custom > a {
  color: white !important;
}

.team-item {
  padding-bottom: 20px;
  height: 180px;
}

.infographic-text {
  padding-bottom: 50px !important;
  padding-right: 50px !important;
}

.probootstrap-main-nav li a {
  font-size: 1.1em;
  font-weight: 400;
}

.rocket-img {
  width: 100%;
  max-width: 450px;
  padding-top: 50px;
}

.white-bg {
  background: white;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
}

.box {
  box-shadow: 0px 0px 60px -10px rgba(0,0,0,0.25);
  /*height: -webkit-fill-available !important;*/
}

.probootstrap-feature-first {
  padding-bottom: 30px !important;
  padding-top: 0px !important;
}

.main-feature-button {
  padding-top: 30px;
}

img {
  max-width: 100%;
}

.probootstrap-section.probootstrap-section-extra {
  padding: 150px 0 150px 0 !important;
  margin-bottom: unset !important;
}


.header, section.features {
  background: #3023AE;
  padding-top: 30px;
  z-index: 1;
  background: #664BF1;
  background: -webkit-gradient(left top, right top, color-stop(0%, #17ead9), color-stop(100%, #6078ea)) !important;
  background: -webkit-gradient(linear, left top, right top, from(#17ead9), to(#6078ea)) !important;
  background: linear-gradient(to right, #3023AE 0%, #664BF1 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$firstcolor, endColorstr=$secondcolor, GradientType=1 );
}

.header-subtitle {
  color: #fff !important;
}

.probootstrap-intro {
  text-align: left !important;
}

.probootstrap-subtitle {
  margin: 0 0 0 0 !important;
}

.probootstrap-intro .probootstrap-subtitle {
  max-width: unset;
}

.contribute {
  background-image: url('../img/contribute-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3f0864;
  color: #fff !important;
}

.section-heading-white h2 {
  color: #fff !important;
}

.footer {
  background-image: url('../img/footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3f0864;
  color: #fff !important;
}

.probootstrap-main-nav li:first-child {
  margin-top: 20px !important;
}

.main-text {
  color: #fff !important;
  margin-top: 100px !important;
}

.main-text li{
  padding-bottom: 20px !important;
}

.main-text li a, .main-text a {
  color: #fff !important;
  text-decoration: underline !important;
}

.main-text > h2, h3, p {
  color: #fff !important;
}

.white-text > h2, h3{
  color: #fff !important;
}

.text-black {
  color: #000 !important;
}

.screenshot {
  padding-left: 40px;
  padding-top: -40px;
  position: relative;
}

.team-section {
  padding: 4em 0em;
}

.feature-icon {
  padding-right: 5px !important;
}

.icon-mail {
  padding-right: 10px;
}

.heading-with-icon {
  color: #fff !important;
}

.section-heading > .lead {
  color: #fff !important;
}

section.features h3 {
  font-weight: bold;
}

.container-fluid .section-heading {
  padding-left: 50px;
}

.probootstrap-section-extra h2 {
  color: #2500DD !important;
}

.dots {
  padding-top: 90px;
}

.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #2500DD;
  display: inline-block;
  margin-right: 10px;
}

h1 {
  font-weight: 600 !important;
}

h2 {
  font-weight: 400;
  font-size: 1.6em;
}

.section-heading .heading-with-icon, .section-heading h2 {
  font-weight: 400 !important;
}

.btn-no-cursor {
  cursor: unset !important;
  background: unset !important;
  border: 1px solid #2500DD !important;
  padding: 10px 30px !important;
}

body {
  overflow-x: hidden;
}

.probootstrap-nav {
  height: auto !important;
  width: auto !important;
}
