/*!==============================
 * Theme Name: Sublime
 * Theme URL: https://probootstrap.com/sublime-free-responsive-bootstrap-website-template/
 * Author: ProBootstrap.com
 * Author URL: https://probootstrap.com
 * License: Released for free under the Creative Commons Attribution 3.0 license (probootstrap.com/license)
 */
/*@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x");
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?1z9v6x") format("truetype"), url("../fonts/icomoon/icomoon.woff?1z9v6x") format("woff"), url("../fonts/icomoon/icomoon.svg?1z9v6x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}*/

html {
  overflow-x: hidden;
  font-size: 1em;
  font-family: 'Lato';
}

body {
  background: #fff;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Lato';
  line-height: 1.8;
  color: #7e8890;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}

::selection {
  background: #000000;
  color: #ffffff;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}

p, h1, h2, .heading-with-icon, h3, h4, .probootstrap-product-tour h5 {
  color: #374252;
  /*font-family: "Rubik", sans-serif;*/
  font-family: "Lato";
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 1.602em;
}

h2, .heading-with-icon {
  font-size: 1.424em;
}

h3 {
  font-size: 1.266em;
}

h4, .probootstrap-product-tour h5 {
  font-size: 1.125em;
}

small, .font_small {
  font-size: 0.889em;
}

p, ul, ol {
  margin-bottom: 1.3em;
}

a {
  -webkit-transition: .3s all;
  transition: .3s all;
  color: #6078EA;
}

a:hover, a:focus, a:active {
  color: black;
  text-decoration: none;
}

.probootstrap-header {
  background: #6078EA;
  padding-top: 30px;
  z-index: 1;
  background: #17ead9;
  background: -webkit-gradient(left top, right top, color-stop(0%, #17ead9), color-stop(100%, #6078ea));
  background: -webkit-gradient(linear, left top, right top, from(#17ead9), to(#6078ea));
  background: linear-gradient(to right, #17ead9 0%, #6078ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$firstcolor, endColorstr=$secondcolor, GradientType=1 );
}

.probootstrap-header.probootstrap-header-no-intro {
  padding-bottom: 30px;
}

.probootstrap-feature-first {
  position: relative;
  background: #ecedee;
}

.probootstrap-logo {
  float: left;
  color: #ffffff;
  padding-left: 60px;
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
}

.probootstrap-logo:hover, .probootstrap-logo:focus, .probootstrap-logo:active {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .probootstrap-logo {
    padding-left: 0px;
  }
}

.probootstrap-nav {
  padding-right: 60px;
  float: right;
}

.probootstrap-mobile-menu-active .probootstrap-nav {
  position: fixed;
  display: block !important;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 0;
  z-index: 1100;
  height: 100vh;
  width: 300px;
  background: #6078EA;
  padding: 40px;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text {
  display: block;
  float: left;
  clear: both;
  margin-top: 30px;
  color: #ffffff;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text .social-buttons {
  padding: 0;
  margin: 0 0 20px 0;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text .social-buttons li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0;
  margin: 0;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text .social-buttons li a {
  color: #ffffff;
  padding: 10px;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text .social-buttons li:first-child a {
  padding-left: 0;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text h5 {
  text-transform: uppercase;
  letter-spacing: .1em;
  color: rgba(255, 255, 255, 0.5);
}

.probootstrap-mobile-menu-active.show .probootstrap-nav {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.probootstrap-main-nav {
  float: right;
  margin: 0;
  padding: 0;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav {
  float: left;
  margin-top: 40px;
  width: 100%;
}

.probootstrap-main-nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
  font-size: 18px;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li {
  margin-bottom: 10px;
  display: block;
}

.probootstrap-main-nav li a {
  padding: 10px;
  color: #ffffff;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li a {
  margin-bottom: 10px;
  padding: 5px 0;
  display: block;
}

.probootstrap-main-nav li.probootstrap-cta {
  margin-left: 20px;
}

.probootstrap-main-nav li.probootstrap-cta a {
  border: 2px solid #ffffff;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 4px;
}

.probootstrap-main-nav li.probootstrap-cta a:hover {
  background: #ffffff;
  color: #6078EA;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li.probootstrap-cta {
  margin-left: 0px;
  margin-top: 20px;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li.probootstrap-cta a {
  padding-top: 2px;
  padding-bottom: 2px;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li {
  display: block;
}

.mobile-menu-overlay {
  z-index: 1099;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.probootstrap-mobile-menu-active.show .mobile-menu-overlay {
  opacity: 1;
  visibility: visible;
}

.probootstrap-intro {
  text-align: center;
  padding: 10em 0 16em 0;
}

@media screen and (max-width: 768px) {
  .probootstrap-intro {
    padding: 7em 0 7em 0;
  }
}

.probootstrap-intro h1 {
  font-size: 67px;
  color: #ffffff;
  font-weight: 300;
  line-height: 1.15;
}

@media screen and (max-width: 768px) {
  .probootstrap-intro h1 {
    font-size: 36px;
  }
}

.probootstrap-intro .probootstrap-subtitle {
  max-width: 500px;
  margin: 0 auto;
}

.probootstrap-intro .probootstrap-subtitle h2, .probootstrap-intro .probootstrap-subtitle .heading-with-icon {
  line-height: 1.55;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

.probootstrap-intro .probootstrap-subtitle h2 a, .probootstrap-intro .probootstrap-subtitle .heading-with-icon a {
  color: white;
}

.probootstrap-intro .probootstrap-subtitle h2 a:hover, .probootstrap-intro .probootstrap-subtitle .heading-with-icon a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.probootstrap-intro .watch-intro {
  font-size: 23px;
  font-weight: 300;
  color: #ffffff;
}

.probootstrap-intro .watch-intro a {
  color: #ffffff;
}

.probootstrap-intro .watch-intro a i {
  position: relative;
  top: 2px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.probootstrap-intro .watch-intro a:hover i {
  margin-left: 20px;
}

.probootstrap-burger-menu {
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.probootstrap-burger-menu i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 2px;
  color: #ffffff;
  font: bold 14px/.4 'Lato';
  text-transform: uppercase;
  text-indent: -55px;
  background: #ffffff;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.probootstrap-burger-menu i::before, .probootstrap-burger-menu i::after {
  content: '';
  width: 18px;
  height: 2px;
  background: #ffffff;
  position: absolute;
  left: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.probootstrap-burger-menu i::before {
  top: -7px;
}

.probootstrap-burger-menu i::after {
  bottom: -7px;
}

.probootstrap-burger-menu:hover i::before {
  top: -10px;
}

.probootstrap-burger-menu:hover i::after {
  bottom: -10px;
}

.probootstrap-burger-menu.active i {
  background: transparent;
}

.probootstrap-burger-menu.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.probootstrap-burger-menu.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.probootstrap-burger-menu {
  position: absolute;
  top: 30px;
  right: 20px;
}

.btn {
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
}

.btn:active {
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn-lg {
  line-height: 1.5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn.btn-primary {
  border: 1px solid #6078EA;
  background: #6078EA;
  color: #ffffff;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  background: #17EAD9;
  color: #ffffff;
  border: 1px solid #17EAD9;
}

.btn.btn-primary:focus, .btn.btn-primary:active {
  outline: none;
  border: 1px solid #17EAD9;
}

.btn.btn-ghost {
  background: transparent;
  border: 1px solid #6078EA;
  color: #6078EA;
}

.btn.btn-ghost:hover {
  background: #6078EA;
  color: #ffffff;
}

.btn.btn-ghost:focus, .btn.btn-ghost:active {
  outline: none;
  background: transparent;
  color: #6078EA;
  border: 1px solid #6078EA;
}

.btn.btn-black {
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.btn.btn-black:hover {
  background: #6078EA;
  color: #ffffff;
  border: 1px solid #6078EA;
}

.btn.btn-black:focus, .btn.btn-black:active {
  outline: none;
  background: #6078EA;
  color: #ffffff;
  border: 1px solid #6078EA;
}

.probootstrap-section {
  padding: 4em 0 7em 0;
  position: relative;
  z-index: 2;
}

.probootstrap-section.probootstrap-section-extra {
  padding: 4em 0;
  margin-bottom: 20em;
}

.probootstrap-section.probootstrap-section-extra.last {
  margin-bottom: 7em;
}

@media screen and (max-width: 1350px) {
  .probootstrap-section.probootstrap-section-extra {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 1200px) {
  .probootstrap-section.probootstrap-section-extra {
    margin-bottom: 0em;
  }
}

@media screen and (max-width: 768px) {
  .probootstrap-section.probootstrap-section-extra {
    margin-bottom: 0em;
  }
}

.probootstrap-section.probootstrap-section-sm {
  padding: 3em 0;
}

.probootstrap-section.probootstrap-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section.probootstrap-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section > .container.probootstrap-border-top {
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section.probootstrap-section-colored, .probootstrap-section.probootstrap-section-dark {
  background: #6078EA;
}

.probootstrap-section.probootstrap-section-colored .section-heading h2, .probootstrap-section.probootstrap-section-colored .section-heading .heading-with-icon, .probootstrap-section.probootstrap-section-dark .section-heading h2, .probootstrap-section.probootstrap-section-dark .section-heading .heading-with-icon {
  color: white;
}

.probootstrap-section.probootstrap-section-colored .section-heading p, .probootstrap-section.probootstrap-section-dark .section-heading p {
  color: rgba(255, 255, 255, 0.6);
}

.probootstrap-section.probootstrap-section-colored .heading-with-icon, .probootstrap-section.probootstrap-section-dark .heading-with-icon {
  color: #ffffff;
}

.probootstrap-section.probootstrap-section-colored .heading-with-icon i, .probootstrap-section.probootstrap-section-dark .heading-with-icon i {
  color: #17EAD9;
}

.probootstrap-section.probootstrap-section-colored p, .probootstrap-section.probootstrap-section-dark p {
  color: rgba(255, 255, 255, 0.6);
}

.probootstrap-section.probootstrap-section-dark {
  background: #333333;
}

.probootstrap-section.probootstrap-bg-white {
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .probootstrap-section {
    padding: 3em 0;
  }
}

.probootstrap-section.probootstrap-bg {
  background-size: cover;
  background-repeat: no-repeat;
}

.probootstrap-section.probootstrap-bg:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.probootstrap-product-tour h5 {
  color: #6078EA;
  margin-bottom: 0;
}

.probootstrap-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.probootstrap-half .image, .probootstrap-half .text {
  width: 50%;
}

.probootstrap-half .image {
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .probootstrap-half .image {
    width: 100%;
    height: 200px;
  }
}

.probootstrap-half .image .image-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.probootstrap-half .image .image-bg img {
  min-width: 100%;
  min-height: 100%;
}

.probootstrap-half .text {
  padding: 100px;
  background: #1a1919;
}

@media screen and (max-width: 1000px) {
  .probootstrap-half .text {
    width: 100%;
    padding: 30px 15px;
    float: left;
  }
}

.probootstrap-half .text h3 {
  color: #ffffff;
  line-height: 30px;
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .probootstrap-half .text h3 {
    font-size: 24px;
    line-height: 24px;
  }
}

.probootstrap-half .text p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5;
}

.section-heading h2, .section-heading .heading-with-icon {
  font-size: 2.074em;
  font-weight: 300;
}

.lead {
  font-size: 1.125em;
  line-height: 1.65;
}

.probootstrap-footer {
  padding: 7em 0 2em 0;
  background: #ecedee;
  position: relative;
}

@media screen and (max-width: 768px) {
  .probootstrap-footer {
    padding: 3em 0;
  }
}

.probootstrap-footer .probootstrap-copyright {
  padding: 3em 0;
  margin-top: 20px;
  background: #1a1919;
}

@media screen and (max-width: 768px) {
  .probootstrap-footer .probootstrap-copyright {
    margin-top: 0px;
  }
}

.probootstrap-footer .probootstrap-copyright p {
  line-height: 20px;
}

.probootstrap-footer .probootstrap-copyright p .icon {
  position: relative;
  top: 2px;
}

.probootstrap-footer .probootstrap-copyright p:last-child {
  margin-bottom: 0;
}

.probootstrap-footer .probootstrap-footer-widget {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.probootstrap-footer .probootstrap-footer-widget h3 {
  margin-bottom: 30px;
}

.probootstrap-footer .probootstrap-back-to-top {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .probootstrap-footer .probootstrap-back-to-top {
    text-align: left;
    margin-top: 30px;
  }
}

.probootstrap-block-image {
  background: #ffffff;
  margin-bottom: 30px;
}

.probootstrap-block-image figure img {
  max-width: 100%;
}

.probootstrap-block-image .text {
  padding: 20px;
}

.probootstrap-block-image .text .date {
  display: block;
  color: #999999;
  font-size: 12px;
  letter-spacing: .2em;
  font-weight: 500;
  text-transform: uppercase;
}

.probootstrap-block-image .text h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
}

.probootstrap-block-image .text h3 a {
  color: #000000;
}

.probootstrap-block-image .text h3 a:hover {
  color: #6078EA;
}

.probootstrap-block-image .text p:last-child {
  margin-bottom: 0;
}

.probootstrap-blog-list {
  padding: 0;
  margin: 0;
}

.probootstrap-blog-list li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.probootstrap-blog-list li a {
  display: block;
  color: #7e8890;
}

.probootstrap-blog-list li a figure, .probootstrap-blog-list li a .text {
  display: table-cell;
  vertical-align: top;
}

.probootstrap-blog-list li a figure img, .probootstrap-blog-list li a .text img {
  border-radius: 4px;
}

.probootstrap-blog-list li a figure {
  width: 70px;
}

.probootstrap-blog-list li a .text {
  padding-left: 20px;
}

.probootstrap-blog-list li a .text h4, .probootstrap-blog-list li a .text .probootstrap-product-tour h5, .probootstrap-product-tour .probootstrap-blog-list li a .text h5 {
  margin: 0 0 5px 0;
}

.probootstrap-blog-list li a .text p {
  line-height: 1.45;
}

.probootstrap-quote {
  padding-left: 0;
  border-left: none;
  font-size: inherit;
  font-style: italic;
}

.probootstrap-quote .probootstrap-quote-logo {
  margin-bottom: 20px;
}

.probootstrap-quote .probootstrap-quote-logo.uber {
  width: 50px;
}

.probootstrap-quote .probootstrap-quote-logo.facebook {
  width: 80px;
}

.probootstrap-quote .probootstrap-quote-logo.twitter {
  width: 25px;
}

.probootstrap-quote .probootstrap-quote-author img {
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.link-with-icon i {
  position: relative;
  top: 2px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all;
  transition: .3s all;
  left: -20px;
}

.link-with-icon:hover i, .link-with-icon:focus i {
  position: relative;
  top: 2px;
  left: 0px;
  opacity: 1;
  visibility: visible;
}

.probootstrap-pricing-wrap {
  position: relative;
}

.probootstrap-pricing {
  background: #ffffff;
  float: left;
  width: 100%;
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, 0.1);
  box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 992px) {
  .probootstrap-pricing {
    margin-top: 0 !important;
    margin-bottom: 30px;
  }
}

.probootstrap-pricing.popular {
  z-index: 10;
  margin-top: -5px;
  padding-top: 10px;
}

@media screen and (max-width: 992px) {
  .probootstrap-pricing.popular {
    margin-top: 0 !important;
  }
}

.probootstrap-pricing h3 {
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 50px;
}

.probootstrap-pricing h3 > span {
  margin-top: 10px;
  display: block;
  text-transform: none;
  letter-spacing: normal;
  color: #6078EA;
  font-size: 14px;
  text-transform: uppercase;
}

.probootstrap-pricing .probootstrap-price-wrap {
  margin-bottom: 50px;
}

.probootstrap-pricing .probootstrap-price-wrap .probootstrap-price {
  font-size: 50px;
  color: #6078EA;
  font-weight: 100;
  line-height: 1.2;
  display: block;
}

.probootstrap-pricing .probootstrap-price-wrap .probootstrap-price-per-month {
  font-size: 13px;
}

.probootstrap-pricing ul {
  padding: 0 30px;
  margin: 0 0 50px 0;
}

@media screen and (max-width: 480px) {
  .probootstrap-pricing ul {
    padding: 0 10px;
  }
}

.probootstrap-pricing ul li {
  padding: 0;
  margin: 0 0 20px 0;
  line-height: 24px;
  list-style: none;
}

.heading-with-icon {
  margin-bottom: 1.5em;
}

.heading-with-icon > i, .heading-with-icon > span {
  display: table-cell;
  vertical-align: top;
}

.heading-with-icon i {
  color: #6078EA;
  font-size: 30px;
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
  top: 0px;
  width: 45px;
  display: inltial;
}

.probootstrap-box {
  background: #ffffff;
  padding: 3em;
  margin-bottom: 1.5em;
  -webkit-box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, 0.1);
  box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, 0.1);
}

.probootstrap-box .icon i {
  font-size: 50px;
  color: #6078EA;
}

.probootstrap-absolute {
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .probootstrap-absolute {
    position: relative;
  }
}

.shadow-left {
  -webkit-box-shadow: -19px 12px 104px -24px rgba(0, 0, 0, 0.15);
  box-shadow: -19px 12px 104px -24px rgba(0, 0, 0, 0.15);
}

.progress {
  background-color: #e6e5e5;
  height: 7px;
  margin: 0 0 10px;
  overflow: visible;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-bar {
  border: none;
  background-color: #6078EA;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
}

.progress-bar > span {
  background: #6078EA;
  padding: 2px 4px;
  font-size: 10px;
  position: absolute;
  right: 0;
  top: -32px;
  color: #ffffff;
}

.progress-bar > span:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #6078EA;
  position: absolute;
  bottom: -7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.probootstrap-footer-social {
  padding: 0;
  margin: 0;
}

.probootstrap-footer-social li {
  display: inline;
  padding: 0;
  margin: 0;
  list-style: none;
}

.probootstrap-footer-social li a {
  padding: 10px;
  font-size: 22px;
}

.probootstrap-footer-social li:first-child > a {
  padding-left: 0;
}

.nav-tabs.probootstrap-center, .nav-pills.probootstrap-center {
  text-align: center;
}

.nav-tabs.probootstrap-center > li, .nav-pills.probootstrap-center > li {
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

@media screen and (max-width: 480px) {
  .nav-tabs.probootstrap-center > li, .nav-pills.probootstrap-center > li {
    width: 100%;
    display: block;
  }
}

.nav-tabs.probootstrap-tabs > li > a, .nav-pills.probootstrap-tabs > li > a {
  border-radius: 0px;
  padding: 20px 30px;
  background: #6078EA;
  color: #ffffff;
  font-size: 16px;
  border: none !important;
}

@media screen and (max-width: 480px) {
  .nav-tabs.probootstrap-tabs > li > a, .nav-pills.probootstrap-tabs > li > a {
    width: 100%;
    display: block;
  }
}

.nav-tabs.probootstrap-tabs > li > a:hover, .nav-pills.probootstrap-tabs > li > a:hover {
  background: #4965e7;
}

.nav-tabs.probootstrap-tabs > li > a:active, .nav-tabs.probootstrap-tabs > li > a:focus, .nav-pills.probootstrap-tabs > li > a:active, .nav-pills.probootstrap-tabs > li > a:focus {
  outline: none;
}

.nav-tabs.probootstrap-tabs > li.active > a, .nav-pills.probootstrap-tabs > li.active > a {
  background: #ffffff;
  color: #000000;
}

.nav-tabs.probootstrap-tabs.no-border, .nav-pills.probootstrap-tabs.no-border {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .probootstrap-tab-section {
    padding-bottom: 0 !important;
  }
}

.probootstrap-tab-style-1 {
  position: absolute;
  bottom: 1px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .probootstrap-tab-style-1 {
    position: relative;
  }
}

.service {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.service .icon {
  display: block;
  margin-bottom: 30px;
}

.service .icon i {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.2);
  color: #6078EA;
}

.service h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.service p {
  font-size: 15px;
}

.service.left-icon {
  padding: 0px;
  border: none;
  margin-bottom: 20px !important;
}

.service.left-icon .icon, .service.left-icon .text {
  display: table-cell;
  vertical-align: top;
}

.service.left-icon .icon {
  width: 70px;
  position: relative;
  top: 20px;
}

.service.left-icon .icon i {
  font-size: 40px;
}

.service.left-icon .text {
  display: table-cell;
}

.service.left-icon h3 {
  font-size: 22px;
  margin-bottom: 0px;
}

.service.left-icon p {
  font-size: 14px;
}

.service.left-icon p:last-child {
  margin-bottom: 0;
}

.service.hover_service {
  -webkit-transition: .3s all;
  transition: .3s all;
}

.service.hover_service:hover, .service.hover_service:focus {
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.probootstrap-form {
  margin-bottom: 50px;
}

.probootstrap-form.probootstrap-form-box {
  background: #ffffff;
  padding: 60px;
  -webkit-box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, 0.1);
  box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .probootstrap-form.probootstrap-form-box {
    padding: 20px;
  }
}

.probootstrap-form .form-note-link {
  font-weight: 400;
}

.probootstrap-form .form-note-link a {
  color: #bfbfbf;
}

.probootstrap-form .form-note-link a:hover, .probootstrap-form .form-note-link a:active, .probootstrap-form .form-note-link a:focus {
  color: #404040;
}

.probootstrap-form label {
  font-weight: normal;
}

.probootstrap-form .form-control {
  height: 46px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #e6e5e5;
  background: #f2f2f2;
}

.probootstrap-form .form-control:active, .probootstrap-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #6078EA;
  background: #ffffff;
}

.probootstrap-form textarea.form-control {
  height: inherit;
  resize: vertical;
}

.probootstrap-animate {
  opacity: 0;
  visibility: hidden;
}

.probootstrap-contact-info {
  padding: 0;
  margin: 0 0 30px 0;
}

.probootstrap-contact-info li {
  padding: 0;
  margin: 20px 0 15px 0;
  list-style: none;
  line-height: 24px;
  display: table;
}

.probootstrap-contact-info li > i, .probootstrap-contact-info li > span {
  vertical-align: top;
  display: table-cell;
}

.probootstrap-contact-info li > i {
  font-size: 20px;
  position: relative;
  top: 4px;
  width: 30px;
}

/* Flexslider override style */
.slider-height, .flexslider, .flexslider .slides > li {
  height: 800px;
}

@media screen and (max-width: 480px) {
  .slider-height, .flexslider, .flexslider .slides > li {
    height: 400px;
  }
}

.flexslider {
  position: relative;
  z-index: 2;
  background: none;
  border: none;
  margin: 0 0 0;
}

.flexslider .slides > li {
  background-size: cover;
  background-position: center center;
  background-repeat: none;
}

.flexslider .slides > li.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flexslider .flex-control-paging {
  position: absolute;
  bottom: 30px;
  z-index: 20;
}

@media screen and (max-width: 480px) {
  .flexslider .flex-direction-nav {
    display: none;
  }
}

.flexslider .flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0px;
  padding: 30px;
}

.flexslider .flex-direction-nav a:before {
  font-family: 'Lato';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  content: "\e929";
  -webkit-transition: .3s all;
  transition: .3s all;
  font-size: 30px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flexslider .flex-direction-nav a.flex-next:before {
  content: "\e92a";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flex-direction-nav .flex-prev {
  left: 0px;
}

.flex-direction-nav .flex-next {
  right: 0px;
  text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 0px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 0px;
}

.flex-control-paging li a {
  width: 30px;
  height: 7px;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(255, 255, 255, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #000;
  background: white;
  cursor: default;
}

/* Owl carousel override style */
.owl-carousel {
  margin-bottom: 100px;
}

.owl-carousel.border-rounded .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
  position: absolute;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 20px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 20px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #000000;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #ffffff;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 24px;
  background: rgba(0, 0, 0, 0.7) !important;
  padding: 12px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  background: rgba(0, 0, 0, 0.7) !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: -30px;
  margin-bottom: -2.5em;
}

.owl-work.owl-theme .owl-dots {
  bottom: -30px;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s all;
  transition: .2s all;
  border: 2px solid transparent;
}

.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #000000;
}

.probootstrap-testimonial:before {
  background: rgba(0, 0, 0, 0.7) !important;
}

.probootstrap-testimonial .section-heading p {
  color: rgba(255, 255, 255, 0.9) !important;
}

.probootstrap-testimonial .owl-theme .owl-dots .owl-dot span {
  background: rgba(255, 255, 255, 0.2);
}

.probootstrap-testimonial .owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.probootstrap-testimonial .owl-theme .owl-dots .owl-dot.active span, .probootstrap-testimonial .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #ffffff;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.image-link {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

/* aligns caption to center */
.mfp-title {
  text-align: center;
  padding: 6px 0;
}

.image-source-link {
  color: #DDD;
}

.probootstrap-gutter0 > div[class*='col-'] {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter0 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.probootstrap-gutter10 > div[class*='col-'] {
  padding-right: 5px;
  padding-left: 5px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter10 > div[class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.probootstrap-gutter40 > div[class*='col-'] {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter40 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.probootstrap-gutter60 > div[class*='col-'] {
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter60 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.mb0 {
  margin-bottom: 0px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

.mt0 {
  margin-top: 0px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt90 {
  margin-top: 90px;
}

.mt100 {
  margin-top: 100px;
}

.pb0 {
  padding-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  .img-sm-responsive {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .img-xs-responsive {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}
